.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.bkcolor {
    background-color: rgb(51, 53, 59);

}

#containerMain{
    height: 100vh;
}
#main {
    background-color: black;
    margin-bottom: 10px;
    width: 100vh;
}

#pmain{
font-size: xx-large;
color: antiquewhite;

}

#tituloNoss{
        text-align: center;
        font-family: 'Nunito';
        font-style: normal;
        font-size: 60px;
        margin-top: 100px;
    
}

#tituloNos{
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 60px;
    margin-top: 20px;
}

.divalig{
    text-align: center;
}
.or{
    margin-top: 20px;
    margin-bottom: 2rem;
    font-weight:900;
    font-family: 'Nunito';
}

.pnos {
    text-align: center;
    font-family: 'Nunito';
    font-size: x-large;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgb(7, 0, 0);
}

.imgbkg{
    background-image: url(../images/ba1.jpg) ;
    /* Full height */
    width: 100%;
    background-position: center;
    background-repeat:repeat;   
    background-size: cover;
 }
    
.bgAguas{
background-image: linear-gradient(rgba(0, 0, 0, 0.842),rgba(0,0,0,0.5)),url("../images/ba1.jpg");
background-position: center;
background-size: cover;
width: 100%;

}

.tifont{
    font: 0.7em sans-serif;
}
.marg{
    margin: 0.5rem;
}
#conteinerNosotros{
    height: 100Vh;
}

.imgpla{
    background-image: url("../images/honolulu.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover 
    }

.td{
    text-decoration: underline dotted;
}

.btbkg{
background-color: rgb(162, 247, 105);
}

.ade:link{
    text-decoration:none;
    color: white;
}
.ade:visited{
    text-decoration:none;
    color: white;
}


.form1{
}

#conteinerForm{
   height: 100vh;
   
}

.reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }