.bkcolor {
    background-color: rgb(78, 78, 78);

}

.divalig{
    text-align: center;
}
.or{
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.imgbkg{
    background-image: url(/curso/integrador/images/ba1.jpg) ;
    /* Full height */
    width: 100%; height: -200%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
